*{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    --backgroundColor: #111111;
    --navColor: #00ee00;
    --fontColor: #dddddd;
}

#root{
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundColor);
}

header{
    width: 100vw;
    background-color: var(--navColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#nav-title{
    font-size: 3rem;
}

.nav-button{
    text-decoration: none;
    cursor: pointer;
    color: var(--backgroundColor);
    font-weight: 800;
}

.nav-button:hover{
    color: #333333;
}

footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    padding: 5px;
}

#content{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
}

button{
    color: var(--backgroundColor);
    background-color: var(--navColor);
    font-weight: 800;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 10%;
    display: block;
}

button:hover{
    background-color: #00ff00;
    cursor: pointer;
}

#start-button{
    font-size: 2.5rem;
    padding: 30px;
}

.flex{
    display: flex;
    gap: 30px;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 50px;
}

#choose{
    text-align: center;
}

.mode-button{
    height: 250px;
    width: 250px;
    font-size: 2.5rem;
}

h3{
    margin-bottom: 5px;
    font-size: 1.25rem;
}

input{
    margin-bottom: 7px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
}

.change-Turn{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#boards-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    text-align: center;
}

.board{
    min-height: 500px;
    min-width: 500px;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

.board-square{
    outline: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-size: 32px;
    user-select: none;
}

#next-button{
    padding: 10px;
    font-size: 24px;
}

.boat{
    background-color: coral;
}

.unshooted-cell{
    background-color: rgb(108, 160, 255);
    cursor: pointer;
}

.unshooted-cell:hover{
    background-color: rgb(119, 166, 253);
}

.sunken{
    background-color: red;
}

.win-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}